.list-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.time-accessed {
  color: grey;
  padding-right: 60px;
}
.domain_url {
  color: grey;
  padding-left: 20px;
}
.logo-com {
  height: 50px;
  width: 50px;
  margin-left: 300px;
}
.title-con {
  color: black;
  padding-left: 20px;
}
.button-del {
  margin-left: 300px;
  border-radius: 0px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border-width: 0px;
}
.delete {
  height: 25px;
  width: 25px;
}
